$color-accent: #ffcd00
$color-text: #000000
$color-text-alt: #37362d
$color-background-alt: #f7f4e7

$heading-font-family: "Outfit", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: pxToRem(70)
$header-logo-height-desktop: pxToRem(100)
$hero-background-color: $color-background-alt
$footer-color: $color-accent
$footer-background-color: black
$footer-logo-height: pxToRem(70)
$footer-logo-height-desktop: pxToRem(100)

$block-call-to-action-color: black !important
$toc-color: $color-text-alt
$toc-active-color: $color-text