$color-accent: #ffcd00

$heading-font-family: "Outfit", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: pxToRem(70)
$header-logo-height-desktop: pxToRem(100)
$hero-background-color: none
$footer-color: $color-accent
$footer-background-color: black
$footer-logo-height: pxToRem(70)
$footer-logo-height-desktop: pxToRem(100)
