$color-accent: #ffcd00
$color-text: #000000
$color-text-alt: #37362d
$color-background-alt: #faf8f0

$heading-font-family: "Outfit", sans-serif
$body-font-family: $heading-font-family
$h5-weight: bold
$h5-text-transform: none


$header-background: none
$header-border-bottom-width: 0
$header-logo-height: pxToRem(60)
$header-logo-height-desktop: pxToRem(80)
$hero-background-color: $color-background-alt
$footer-color: $color-accent
$footer-background-color: black
$footer-logo-height: pxToRem(100)
$footer-logo-height-desktop: pxToRem(150)
$toc-color: $color-text-alt
$toc-active-color: $color-text

$block-call-to-action-color: black !important
$block-chapter-layout-accent-color: black