.project-categories,
.taxonomies
    li
        margin-bottom: space(2) !important
        a
            margin-right: 0
            background: $color-accent
            color: $color-text !important
            text-transform: uppercase
            font-size: pxToRem(13)
            padding: space(1) space(3)
            border-radius: 50px
            text-decoration: none !important
            &:hover
                background: $color-text
                color: $color-accent !important
.projects--grid
    .project
        img
            aspect-ratio: 2048 / 1446
    @include media-breakpoint-up(xl)
        grid-template-columns: repeat(3, 1fr)
.projects__section
    @include media-breakpoint-up(desktop)
        main
            .container
                margin-top: $spacing-3
        .section-taxonomies-container
            margin-top: 0 !important
            .taxonomies-list
                margin-top: 0 !important
                margin-bottom: 0 !important
                > .dropdown
                    > button
                        background: $color-background-alt
                        margin-left: $spacing-2
                        margin-right: 0
.projects__page
    .hero
        .content
            h1
                > span
                    font-weight: normal
        .hero-text
            margin-top: 0
            padding-bottom: 0