@include media-breakpoint-up(desktop)
    main
        .container
            margin-top: $spacing-3
    .section-taxonomies-container
        margin-top: 0 !important
        .taxonomies-list
            margin-top: 0 !important
            margin-bottom: 0 !important
            > .dropdown
                > button
                    background: $color-background-alt
                    margin-left: $spacing-2
                    margin-right: 0